// секция №2 "Мы лучшие" - Наши работы

.work{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: rem(940px);
    margin:0 auto;
    margin-top: rem(69px);
    .work-type{
        max-width: rem(300px);
        display: flex;
        flex-direction: column;
        &__img{
            margin: 0 auto;
            margin-bottom: rem(35px);
            &--hand{
                margin-top: rem(8px);
            }
            &--meat{
                margin-top: rem(-18px);
            }
            &--salat{
                margin-top: rem(-8px);
                margin-bottom: rem(38px);
                
            }
        }
            &__title{
            font-family: $Lifehack-Medium;
            font-size: rem(24px);
            color:$grey;
            margin: 0; 
            text-align: center;
            margin-bottom: rem(-2px);
        }
        &__desc{
            font-family: $Ubuntu-Light;
            font-size: rem(14px);
            color:$grey;
            text-align: center;
            margin-bottom: rem(10px);
            line-height: rem(23px);
        }
    }
}