// общие стили для секции burger

.burger {
    width: 100%;
    min-height: 100vh;
    // min-height: rem(650px);
    background-image: url("../icons/header_bg.jpg");
    background-position: center top;
    background-size:cover;
    background-repeat: no-repeat;
        @include tablets(){
            background-size:auto;
        }
    &__container{
        display: flex;
        flex-direction: column;
    }
    .main-content{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}