// кнопка заказать
.order{
    &__submit {
        font-family: 'Conv_Ubuntu-Medium';
        color: $white;
        font-size: rem(13px);
        padding: rem(10px) rem(16px);
        background-color: $orange;
        border: none;
        box-sizing: border-box;
        border-radius: rem(5px);
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color 0.7s;
        &:hover {
            background-color: $orange-darken;
        }
    }
}