
 .footer{
    position: absolute;
    bottom: rem(3px);
    background-color: $about-black;
    height: rem(55px);
    left: 0;
    width: 100%;
    padding: rem(5px) 0;
        
    .container{
        max-width: rem(1100px);
        margin: 0 auto;
        .footer__block{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .footer__item{
                &__adress{
                    font-size: rem(14px);
                    color:#fff;
                    font-family: $Ubuntu-Light;
                    margin: 0;
                    margin-bottom: rem(12px);
                    margin-top: rem(5px);
                }
                &__tel{
                    color:#e45028;
                    font-size: rem(14px);
                    font-family: $Ubuntu-Bold;
                    position: relative;
                    left: rem(21px);

                    &::before{
                        content: "";
                        background: url(../icons/phone.svg);
                        position: absolute;
                        left: rem(-21px);
                        bottom: 0;
                        color:$orange;
                        width: rem(11px);
                        height: rem(11px);
                        margin-right: rem(8px);
                    }
                }
                &__socials{
                    width: rem(20px);
                    height: rem(20px);
                    margin-left:rem(11px);
                    margin-top: rem(9px);
                }
            } 
        }  
    }
}