// секция №7 форма
.form{
    display: flex;
    justify-content: center;
    min-height: rem(900px);
    &__part{
        margin-right: rem(15px);
    }
    &__items{
        max-width: rem(470px);
        margin-top: rem(15px);
        display: flex;
        align-items: center;
        &__lable{
            display: block;
            span{
                font-family: $Ubuntu-Light;
                font-size: rem(14px);
                color:$white;
            }
        
            .form__items__input{
                width: rem(219px);
                height: rem(35px);
                background-color: $white;
                border-radius: rem(5px);
                outline:none;
                border:none;
                margin-right: rem(19px);
                margin-top: rem(7px);
                    &--tel{
                        margin-right: 0;
                    }
                    &--street{
                    width: rem(460px);
                    height: rem(35px);
                    background-color: $white;
                    border-radius: rem(5px);
                    outline:none;
                    border:none;
                    margin-top: rem(7px);
                }
                &--little{
                    width: rem(100px);
                    height: rem(35px);
                    background-color:$white;
                    border-radius: rem(5px);
                    outline:none;
                    border:none;
                    margin-top: rem(7px);
                    margin-right: rem(20px);
                }
                }
            &--radio{
                margin-right: rem(20px);
                position: relative;
                width: rem(150px);
                &::before{
                    position: absolute;
                    display: inline-block;
                    content: "";
                    background-color: $white;
                    width: rem(15px);
                    height: rem(15px);
                    left: 0;
                    border-radius: 50%;
                }
                span{
                    margin-left: rem(25px);
                }
            }
            &--checkbox{
                margin-top: rem(9px);
                position: relative;
                &::before{
                    position: absolute;
                    content:"";
                    background-color: $white;
                    width: rem(15px);
                    height: rem(15px);
                    left: 0;
                }
                span{
                    margin-left:rem(25px);
                }
            }
        }
        &__textarea{
            width: rem(460px);
            height: rem(110px);
            border-radius: rem(5px);
            outline:none;
            border:none;
            margin-top: rem(7px);
        }
        &__radio{
            display: none;
                &:checked + label::after{
                position: absolute;
                content: '';
                left: rem(4px);
                top: rem(4.2px);
                width: rem(7px);
                height: rem(7px);
                background-color: $orange;
                border-radius: 50%;
                
                }
        }
        &__checkbox{
            
            display: none;
            &:checked + label::after{
                position: absolute;
                content: '\2714';
                left: rem(2px);
                top: rem(1px);
                color: $orange;
                font-size: rem(14px);
                font-weight: 900;
                transform: rotate(14deg);
            }
        }
    }
    .clear{
        position: relative;
        border:none;
        background: none;
        color: $white;
        font-family: $Ubuntu-Light;
        font-size: rem(14px);
        height: rem(34px);
        width: rem(98px);
        margin-left: rem(19px);
        outline: none;
        cursor: pointer;
        z-index: 1;

        &::before{
            content: "";
            position: absolute;
            width: 0;
            background-color: $orange;
            left: 0;
            right: 0;
            height: 100%;
            top: 0;
            transition: width .7s;
            margin: auto;
            border-radius: rem(5px);
            z-index: -1;
            
        }
        &:hover::before{
            width: 100%;
        }
    }
}