@import "../fonts/fonts.css";
@import "./burger_header.scss";
@import "./burger_base.scss";
@import "./burger_button_order.scss";
@import "./burger_content.scss";
@import "./burger_arrow.scss";
@import "./advantage_base.scss";
@import "./advantage_work.scss";

// cекция №3 "Черный бургер"
.dark-burger{
    width: 100%;
    height: 100vh;
    background:url(../icons/dark_burger.jpg)center top/cover no-repeat;
    .container{
        max-width: 1100px;
        margin: 0 auto;
    }
}

// cекция №4 "Команда"
.team{
    position: relative;
    margin: 0 auto;
    max-width: 1100px;
    min-height: 650px;
    background: url(../icons/team_bg.jpg)center top/cover no-repeat;
    &--rectangle{
        position: absolute;
        width:540px;
        background-color:rgba(49,52,54,.93);
        right: 0;
        height: 100%;
        // блок о команде
        .about-team{
            padding-top: 72px;
            padding-left: 81px;
            &__title{
                margin: 0;
                font-family: 'Conv_Gagalin-Regular'; 
                font-size: 72px;
                color: #f9b43b; 
                margin-bottom: 59px;
            } 
            // аккордеон
            .team-accordion{
                display: flex;
                flex-direction: column;
                // заголовок аккордеона
                .team-accordion__block{
                    &__name{
                       font-family: 'Conv_Gagalin-Regular';
                       font-size: 14px;
                       color:#fff;
                       text-transform: uppercase;
                       margin-top: 15px;
                        &::before{
                            content: "";
                            width: 0;
	                        height: 0;
	                        border-left: 4px solid transparent;
	                        border-right: 4px solid transparent;
                            border-top: 8px solid #f9b43b;
                            display: inline-block;
                            margin-right: 11px;
                        }
                    }
                    // при активном классе аккордеона
                    .active{
                        color:#f9b43b;
                            &::before{
                                transform: rotate(180deg);
                            } 
                        }
                        // внутренний контент аккордеона
                    &__about{
                        display: flex;
                        justify-content: space-between;
                        max-width: 340px;
                        margin-bottom: 27px;
                        margin-left: 16px;
                        .team-accordion__block{
                            &--size{
                                position: relative;
                                width: 100px;
                                height: 100px;
                                background: #000;
                                border-radius: 50%;
                                overflow: hidden;
                                margin-top: 8px;
                                 transition: .7s;
                                &:hover{
                                    transform: scale(1.1);
                                }
                            }
                            &--description{
                                max-width: 215px;
                                margin-left: 20px;
                                margin-top: 8px;
                            }
                            &__prof{
                                font-family: 'Conv_Ubuntu-B';
                                font-size: 14px;
                                color:#fff;
                                margin: 0;
                            }
                            &__desc{
                                font-family: 'Conv_Ubuntu-Light';
                                font-size: 14px;
                                color:#fff;
                                margin: 0;
                                margin-top: 15px;
                                line-height: 23px;
                               
                            }
                            &__foto{
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                                
                            } 
                        }
                    }
                }
            }
        }
    } 
}

// cекция №5 "Меню"
.menu{
    position: relative;
    max-width: 1100px;
    min-height: 650px;
    margin: 0 auto;
    background:url(../icons/menu_bg.jpg)center top/cover no-repeat;
    overflow: hidden;
    &__title{
        font-family: 'Conv_Gagalin-Regular';
        font-size: 72px;
        color:#fff;
        margin: 0;
        padding-top: 70px;
        padding-left: 80px;
        display: inline-block;
    }
    .menu-accordion{
        position: absolute;
        height: 100%;
        min-width: 240px;
        display: flex;
        top: 0;
        right: 0;
        left: 0;
        
        .accor{
            min-width: 240px;
            position: absolute;
            height: 100%;
            display: flex;
            right: 0;
            .items{
                display: flex;
            }
            .text{
                width: 0;
                background-color: rgba(48,51,54,.93);
                height: 100%;
                transition:width .7s;
                &.active{
                    width: 540px;
                    .text_desc{
                        opacity: 1;
                    }
                }
                &_desc{
                    opacity: 0;
                    transition:opacity .7s;
                }
            }
        }
        &__item{
            width: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            .menu-accordion{
                &__name{
                    position: absolute;
                    width: 300px;
                    font-family: 'Conv_Gagalin-Regular';
                    color:#fff;
                    font-size: 40px;
                    display: block;
                    transform: rotate(-90deg);
                    margin: 0;

                }
            }
            &--meat{
                background: url(../icons/meat_bg.jpg) no-repeat;
            }
            &--veget{
                background: url(../icons/veg_bg.jpg) no-repeat;
            }
            &--diet{
                background: url(../icons/diet_bg.jpg) no-repeat;
            }
        }
    }
}

// секция №6 "Отзывы"
.reviews{
    margin: 0 auto;
    width: 1100px;
    min-height: 650px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .reviews-item{
        position: relative;
        width: 275px;
        height: 325px; 
        overflow: hidden; 
        &:hover .img-text{
            transform:scale(1);
        }  
        // текст отзыва
        .img-text{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            padding: 50px 20px;
            box-sizing: border-box;
            background-color: rgba(76,76,76,.2);
            transition: transform .9s;
            transform: scale(0);
            

            &__title{
                font-family: 'Conv_Gagalin-Regular';
                font-size: 14px;
                color:#fff;
                text-transform: uppercase;  
            }
            &__desc{
                font-family: 'Conv_Ubuntu-Light';
                font-size: 14px;
                color:#fff;
                line-height: 24px;
            }
            &__button{
                width: 110px;
                height: 35px;
                display: block;
                background-color: #2f3234;
                color:#fff;
                text-transform: uppercase;
                font-family: 'Conv_Ubuntu-Medium';
                font-size: 13px;
                text-decoration: none;
                line-height: 9px;
                border-radius: 5px;
                padding: 13px;
                box-sizing: border-box;
                transition: background-color .7s;
                &:hover{
                    background-color: #1f2122;
                }
            }
        }
    }
}



// боковая навигация меню
.menu-dots {
    position: fixed;
    top: 100px;
    right: 168px;

    &__element {
        margin: 0;
        padding: 0;
        list-style: none;
        .menu-dots{
            &__list {
                margin-bottom: 5px;
                &:last-child{
                    margin-bottom: 0;
                }
                .menu-dots__link {
                    position: relative;
                    display: block;
                    width: 16px;
                    height: 16px;
                    border:1px solid transparent;
                    border-radius: 50%; 
                    &:hover{
                        border-color:#fff;
                        transition: 0.7s;
                        -webkit-transition: 0.7s;
                    } 
                    &.active{
                            border-color:#fff;
                    }
                    &--decor {
                        position: absolute;
                        display: block;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background-color: #fff;
                        top:50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    }    -webkit-transform: translate(-50%, -50%);  
                }   
            }
        }    
    }
}



// font-family: 'Conv_Ubuntu-B';
// font-family: 'Conv_Ubuntu-Light';
// font-family: 'Conv_Ubuntu-Medium';
// font-family: 'Conv_Ubuntu-Regular';
// font-family: 'Conv_Gagalin-Regular';
// font-family: 'Conv_Lifehack Medium';