// cекция №5 "Меню" аккордион

.menu__accordion{
    min-width: 240px;
    position: absolute;
    height: 100%;
    display: flex;
    right: 0;
    &__item{
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
            &--meat{
            background: url(../icons/meat_bg.jpg) no-repeat;
        }
        &--veget{
            background: url(../icons/veg_bg.jpg) no-repeat;
        }
        &--diet{
            background: url(../icons/diet_bg.jpg) no-repeat;
        }
    .menu__accordion{
        &__name{
            position: absolute;
            width: 300px;
            font-family: 'Conv_Gagalin-Regular';
            color:#fff;
            font-size: 40px;
            display: block;
            transform: rotate(-90deg);
            margin: 0;
        }
        
    }
}
    .menu__items{
        display: flex;
    }
    .menu__text{
        width: 0;
        background-color: rgba(48,51,54,.93);
        height: 100%;
        transition:width .7s;
        &.active{
            width: 540px;
            .menu__text--desc{
                opacity: 1;
            }
        }
        .menu__text--desc{
            font-family: 'Conv_Ubuntu-Light';
            font-size: 14px;
            color:#fff;
            line-height: 24px;
            padding: 60px 35px;
            opacity: 0;
            transition:opacity .7s;
        }
    }
}