// cекция №5 "Меню" базовые стили

.menu{
    position: relative;
    height: 100vh;
     min-height: 650px;
    background:url(../icons/menu_bg.jpg)center top/cover no-repeat;
    overflow: hidden;
    .container{
        max-width: 1100px;
        margin: 0 auto;
        .menu__title{
            font-family: 'Conv_Gagalin-Regular';
            font-size: 72px;
            color:#fff;
            margin: 0;
            padding-top: 70px;
            display: inline-block;
        }
        .menu__block{
            position: absolute;
            height: 100%;
            min-width: 240px;
            display: flex;
            top: 0;
            right: 0;
            left: 0; 
        }
    }   
}