// cекция №5 "Меню" аккордион

.menu__accordion{
    min-width: rem(240px);
    position: absolute;
    height: 100%;
    display: flex;
    right: 0;
    &__item{
        width: rem(80px);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
            &--meat{
            background: url(../icons/meat_bg.jpg) no-repeat;
        }
        &--veget{
            background: url(../icons/veg_bg.jpg) no-repeat;
        }
        &--diet{
            background: url(../icons/diet_bg.jpg) no-repeat;
        }
    .menu__accordion{
        &__name{
            position: absolute;
            width: rem(300px);
            font-family: $Gagalin-Regular;
            color:$white;
            font-size: rem(40px);
            display: block;
            transform: rotate(-90deg);
            margin: 0;
        }
        
    }
}
    .menu__items{
        display: flex;
    }
    .menu__text{
        width: 0;
        background-color: rgba(48,51,54,.93);
        height: 100%;
        transition:width .7s;
        &.active{
            width: rem(540px);
            .menu__text--desc{
                opacity: 1;
            }
        }
        .menu__text--desc{
            font-family: $Ubuntu-Light;
            font-size: rem(14px);
            color:$white;
            line-height: rem(24px);
            padding: rem(60px) rem(35px);
            opacity: 0;
            transition:opacity .7s;
        }
    }
}