// боковая навигация меню
.menu-dots {
    position: fixed;
    top: rem(100px);
    right: rem(168px);
    @include laptop(){
         right: rem(60px);
        }

    &__element {
        margin: 0;
        padding: 0;
        list-style: none;
        .menu-dots{
            &__list {
                margin-bottom: rem(5px);
                &:last-child{
                    margin-bottom: 0;
                }
                .menu-dots__link {
                    position: relative;
                    display: block;
                    width: rem(16px);
                    height: rem(16px);
                    border:rem(1px) solid transparent;
                    border-radius: 50%; 
                    &:hover{
                        border-color:$white;
                        transition: 0.7s;
                        -webkit-transition: 0.7s;
                    } 
                    &.active{
                            border-color:$white;
                    }
                    &--decor {
                        position: absolute;
                        display: block;
                        width: rem(6px);
                        height: rem(6px);
                        border-radius: 50%;
                        background-color: $white;
                        top:50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    }    -webkit-transform: translate(-50%, -50%);  
                }   
            }
        }    
    }
    @include tablets(){
        display: none;
    }
}
