// cекция №5 "Меню" базовые стили

.menu{
    position: relative;
    height: 100vh;
    min-height: rem(650px);
    background:url(../icons/menu_bg.jpg)center top/cover no-repeat;
    overflow: hidden;
    .container{
        max-width: rem(1100px);
        margin: 0 auto;
        .menu__title{
            font-family: $Gagalin-Regular;
            font-size: rem(72px);
            color:$white;
            margin: 0;
            padding-top: rem(70px);
            display: inline-block;
        }
        .menu__block{
            position: absolute;
            height: 100%;
            min-width: rem(240px);
            display: flex;
            top: 0;
            right: 0;
            left: 0; 
        }
    }   
}