// секция №6 "Отзывы"

.reviews{
    width: 100%;
    height: 100vh;
    min-height: rem(650px);
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .reviews-item{
        position: relative;
        width: 25%;
        height: rem(325px); 
        overflow: hidden; 
        &:hover .reviews-item__text{
            transform:scale(1);  
        }  
        .reviews-item__img{
            width: 100%;
        }
        // текст отзыва
        .reviews-item__text{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            padding: rem(50px) rem(20px);
            box-sizing: border-box;
            background-color: rgba(76,76,76,.2);
            transition: transform .9s;
            transform: scale(0);
            

            &__title{
                font-family: $Gagalin-Regular;
                font-size: rem(14px);
                color:$white;
                text-transform: uppercase;  
            }
            &__desc{
                font-family: $Ubuntu-Light;
                font-size: rem(14px);
                color:$white;
                line-height: rem(24px);
            }
            &__button{
                width: rem(110px);
                height: rem(35px);
                display: block;
                background-color: $grey;
                color:#fff;
                text-transform: uppercase;
                font-family: $Ubuntu-Medium;
                font-size: rem(13px);
                text-decoration: none;
                line-height: rem(9px);
                border-radius: rem(5px);
                padding: rem(13px);
                box-sizing: border-box;
                transition: background-color .7s;
                &:hover{
                    background-color: #1f2122;
                }
            }
        }
    }
}