// секция №4 "аккордион"
.accordion{
    display: flex;
    flex-direction: column;
    @include tablets(){
        text-align: center;
    }
    
    // заголовок аккордеона
    &__block{
        margin: rem(15px) 0;
        &__name{
        font-family: $Gagalin-Regular;
        font-size: rem(14px);
        color:$white;
        text-transform: uppercase;
        margin: 0;
        @include tablets(){
            font-size: rem(25px);
        }
            &::before{
                content: "";
                width: 0;
                height: 0;
                border-left: rem(4px) solid transparent;
                border-right: rem(4px) solid transparent;
                border-top: rem(8px) solid $yellow;
                display: inline-block;
                margin-right: rem(11px);
            }
        }
        // при активном классе аккордеона
        &.active{
            .accordion__block__about{
                height: 100%;
                padding-top: rem(18px);
            } 
            h3{
                color:$yellow;
                &::before{
                    transform: rotate(180deg);
                } 
            }
        }
            // внутренний контент аккордеона
        &__about{
            display: flex;
            justify-content: space-between;
            max-width: rem(340px);
            // margin-bottom: rem(27px);
            margin-left: rem(16px);
            //  padding-top: rem(18px);
             height: 0;
             overflow: hidden;
             transition:height .7s ;
             @include tablets(){
                 flex-direction: column;
                 align-items: center;
             }
                @include tablets(){
                    margin-left: 0;
                    padding-top: 9px;
                }
            .accordion__block{
               
                &--size{
                    position: relative;
                    width: rem(100px);
                    height: rem(100px);
                    background: #000;
                    border-radius: 50%;
                    overflow: hidden;
                    transition: .7s;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
                &--description{
                    max-width: rem(215px);
                    margin-left: rem(20px);
                     @include tablets(){
                        padding-top: rem(17px);
                        max-width: rem(336px);
                        margin-left: 0;
                        
                     }
                }
                &__prof{
                    font-family: $Ubuntu-Bold;
                    font-size: rem(14px);
                    color:$white;
                    margin: 0;
                }
                &__desc{
                    font-family: $Ubuntu-Light;
                    font-size: rem(14px);
                    color:$white;
                    margin: 0;
                    margin-top: rem(15px);
                    line-height: rem(23px);
                
                }
                &__foto{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%); 
                } 
            }
        }
    }
}