// черный квадрат абсолютно позиционированный,  в который входит аккордион
.rectangle{
    position: absolute;
    width:rem(540px);
    background-color:rgba(49,52,54,.93);
    right: 0;
    height: 100%;
    &__block{
        padding-top: rem(72px);
        padding-left: rem(81px);
        &__title{
            margin: 0;
            font-family: $Gagalin-Regular; 
            font-size: rem(72px);
            color: $yellow; 
            margin-bottom: rem(59px);
        }   
    }
} 