// секция №4 "базовые элементы"
.team{
    position: relative;
    min-height: 100vh;
    // min-height: rem(650px);
    background: url(../icons/team_bg.jpg)center top/cover no-repeat;
    .container{
        max-width: rem(1100px);
        margin: 0 auto;
    }
}