// colors
$grey:#2f3234; 
$white:#fff;
$orange:#e45028;
$orange-darken:#c1401e;
$yellow:#f9b43b;
$about-black:#0e0e0e;

// fonts
$Gagalin-Regular:'Conv_Gagalin-Regular'; 
$Lifehack-Medium:'Conv_Lifehack Medium';
$Ubuntu-Light:'Conv_Ubuntu-Light';
$Ubuntu-Medium:'Conv_Ubuntu-Medium';
$Ubuntu-Bold:'Conv_Ubuntu-B';

//resolution
$desktop:1200px;
$laptop:992px;
$tablets:768px;
$phones:480px;

