@import url(../fonts/fonts.css);
@media screen and (max-width: 992px) {
  html {
    font-size: 15px; } }
@media screen and (max-width: 768px) {
  html {
    font-size: 16px; } }
@media screen and (max-width: 480px) {
  html {
    font-size: 12px; } }

html,
body {
  height: 100%; }

body {
  font-size: 1rem;
  line-height: 1.42; }

.container {
  max-width: 59.375rem;
  width: 94%;
  height: 100%;
  margin: 0 auto; }

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.5rem;
  padding-right: 0.5625rem; }
  @media screen and (max-width: 768px) {
    .navbar {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .navbar__logo {
    margin-right: 2.9375rem; }
  .navbar__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .navbar__menu .navbar__list {
      margin: 0;
      padding: 0; }
      @media screen and (max-width: 768px) {
        .navbar__menu .navbar__list {
          display: none; } }
      .navbar__menu .navbar__list .navbar__items {
        display: inline-block;
        list-style: none; }
        .navbar__menu .navbar__list .navbar__items::after {
          content: '\2022';
          color: #fff;
          padding: 0 0.9375rem; }
          @media screen and (max-width: 850px) {
            .navbar__menu .navbar__list .navbar__items::after {
              padding: 0 0.625rem; } }
        .navbar__menu .navbar__list .navbar__items:last-child::after {
          content: ''; }
        .navbar__menu .navbar__list .navbar__items .navbar__link {
          text-decoration: none;
          text-transform: uppercase;
          color: #fff;
          font-family: "Conv_Ubuntu-Medium";
          font-size: 0.8125rem; }
  .navbar__hamburger {
    margin-left: 1.875rem;
    width: 1.5625rem;
    height: 1.5625rem;
    display: none; }
    .navbar__hamburger--img {
      width: 100%; }
    @media screen and (max-width: 768px) {
      .navbar__hamburger {
        display: block; } }

.burger {
  width: 100%;
  min-height: 100vh;
  background-image: url("../icons/header_bg.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat; }
  .burger__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .burger .main-content {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

.order__submit {
  font-family: 'Conv_Ubuntu-Medium';
  color: #fff;
  font-size: 0.8125rem;
  padding: 0.625rem 1rem;
  background-color: #e45028;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.3125rem;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: background-color 0.7s;
  transition: background-color 0.7s; }
  .order__submit:hover {
    background-color: #c1401e; }

.best-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.9375rem; }
  @media screen and (max-width: 992px) {
    .best-burger {
      margin-bottom: 2.625rem; } }
  @media screen and (max-width: 850px) {
    .best-burger {
      margin-bottom: 5.75rem; } }
  @media screen and (max-width: 768px) {
    .best-burger {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 0.9375rem; } }
  .best-burger__image {
    margin-left: -2.125rem;
    max-width: 28.125rem; }
    @media screen and (max-width: 992px) {
      .best-burger__image {
        margin: 0; } }
    @media screen and (max-width: 768px) {
      .best-burger__image {
        margin: 0;
        max-width: 28.125rem;
        margin-top: 4.25rem; } }
    .best-burger__image--size {
      width: 100%; }
      @media screen and (max-width: 768px) {
        .best-burger__image--size {
          width: 100%; } }
  .best-burger__content {
    max-width: 25.625rem;
    margin-top: 4.375rem;
    padding-left: 1.0625rem; }
    @media screen and (max-width: 992px) {
      .best-burger__content {
        padding-left: 0;
        margin-top: 0.3125rem; } }
    .best-burger__content .best-burger__title {
      font-family: "Conv_Gagalin-Regular";
      font-size: 4.5rem;
      color: #f9b43b;
      margin: 0;
      text-transform: uppercase; }
      @media screen and (max-width: 992px) {
        .best-burger__content .best-burger__title {
          padding-left: 14px;
          margin-top: 3.125rem; } }
      @media (max-width: 365px) {
        .best-burger__content .best-burger__title {
          padding-left: 0; } }
      .best-burger__content .best-burger__title .best-burger__desc {
        font-family: "Conv_Lifehack Medium";
        font-size: 4.0625rem;
        color: #fff;
        margin: 0;
        margin-top: 0.9375rem;
        text-transform: none;
        line-height: 1; }
        @media screen and (max-width: 992px) {
          .best-burger__content .best-burger__title .best-burger__desc {
            text-align: center; } }

.arrow {
  background-color: transparent;
  border: none;
  outline: none;
  margin: auto;
  cursor: pointer;
  margin-bottom: 1.875rem; }
  @media screen and (max-width: 992px) {
    .arrow {
      margin-top: 3.125rem; } }

.advantage {
  background: url(../icons/our-work_bg.jpg) center top/cover no-repeat;
  width: 100%;
  min-height: 100vh; }
  .advantage .container {
    max-width: 68.75rem;
    height: 100%;
    margin: 0 auto; }
    .advantage .container .advantage__title {
      font-family: "Conv_Gagalin-Regular";
      font-size: 4.5rem;
      color: #2f3234;
      text-align: center;
      margin: 0;
      padding-top: 3.6875rem; }
      @media screen and (max-width: 992px) {
        .advantage .container .advantage__title {
          padding-top: 5.5625rem; } }
      @media screen and (max-width: 480px) {
        .advantage .container .advantage__title {
          padding-top: 40px; } }

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 58.75rem;
  margin: 0 auto;
  margin-top: 4.3125rem; }
  @media screen and (max-width: 992px) {
    .work {
      margin-top: 9.6875rem;
      margin-bottom: 22.1875rem; } }
  @media screen and (max-width: 480px) {
    .work {
      padding-left: 0.9375rem;
      padding-right: 0.3125rem;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-top: 5.3125rem;
      margin-bottom: 12.5rem; } }
  .work .work-type {
    max-width: 18.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media screen and (max-width: 992px) {
      .work .work-type {
        margin-right: 0.3125rem; }
        .work .work-type:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 480px) {
      .work .work-type {
        margin-right: 0;
        margin-bottom: 2.1875rem;
        max-width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: inherit;
                flex-direction: inherit;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    @media screen and (max-width: 480px) {
      .work .work-type__abt {
        max-width: 20rem; } }
    .work .work-type__img {
      width: 6.875rem;
      height: 6.875rem;
      margin: 0 auto;
      margin-bottom: 2.1875rem; }
      @media screen and (max-width: 480px) {
        .work .work-type__img {
          margin-right: 1.125rem;
          margin-bottom: 0;
          width: 110px;
          height: 110px; } }
      .work .work-type__img--hand {
        margin-top: 0.5rem; }
        @media (max-width: 515px) {
          .work .work-type__img--hand {
            margin-top: 5rem; } }
        @media screen and (max-width: 480px) {
          .work .work-type__img--hand {
            margin-top: 0;
            margin-bottom: 0;
            margin-right: 1.25rem;
            margin-left: 1.25rem; } }
      .work .work-type__img--meat {
        margin-top: -1.125rem; }
        @media screen and (max-width: 480px) {
          .work .work-type__img--meat {
            margin-top: 0; } }
      .work .work-type__img--salat {
        margin-top: -0.5rem;
        margin-bottom: 2.375rem; }
        @media screen and (max-width: 480px) {
          .work .work-type__img--salat {
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 0.3125rem; } }
    .work .work-type__title {
      font-family: "Conv_Lifehack Medium";
      font-size: 1.5rem;
      color: #2f3234;
      margin: 0;
      text-align: center;
      margin-bottom: -0.125rem; }
      @media screen and (max-width: 480px) {
        .work .work-type__title {
          text-align: left;
          font-size: 24px; } }
    .work .work-type__desc {
      font-family: "Conv_Ubuntu-Light";
      font-size: 0.875rem;
      color: #2f3234;
      text-align: center;
      margin-bottom: 0.625rem;
      line-height: 1.4375rem; }
      @media screen and (max-width: 480px) {
        .work .work-type__desc {
          text-align: left;
          font-size: 14px;
          line-height: 23px; } }

.team {
  position: relative;
  min-height: 100vh;
  background: url(../icons/team_bg.jpg) center top/cover no-repeat; }
  .team .container {
    max-width: 68.75rem;
    margin: 0 auto; }

.rectangle {
  position: absolute;
  width: 33.75rem;
  background-color: rgba(49, 52, 54, 0.93);
  right: 0;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .rectangle {
      left: 0;
      right: 0;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .rectangle__block {
    padding-top: 4.5rem;
    padding-left: 5.0625rem; }
    @media screen and (max-width: 768px) {
      .rectangle__block {
        padding-left: 0; } }
    @media screen and (max-width: 768px) {
      .rectangle__block {
        max-width: 21.5625rem;
        padding-top: 6rem; } }
    .rectangle__block__title {
      margin: 0;
      font-family: "Conv_Gagalin-Regular";
      font-size: 4.5rem;
      color: #f9b43b;
      margin-bottom: 3.6875rem; }
      @media screen and (max-width: 768px) {
        .rectangle__block__title {
          margin-bottom: 5.375rem; } }

.accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 768px) {
    .accordion {
      text-align: center; } }
  .accordion__block {
    margin: 0.9375rem 0; }
    .accordion__block__name {
      font-family: "Conv_Gagalin-Regular";
      font-size: 0.875rem;
      color: #fff;
      text-transform: uppercase;
      margin: 0; }
      @media screen and (max-width: 768px) {
        .accordion__block__name {
          font-size: 1.5625rem; } }
      .accordion__block__name::before {
        content: "";
        width: 0;
        height: 0;
        border-left: 0.25rem solid transparent;
        border-right: 0.25rem solid transparent;
        border-top: 0.5rem solid #f9b43b;
        display: inline-block;
        margin-right: 0.6875rem; }
    .accordion__block.active .accordion__block__about {
      height: 100%;
      padding-top: 1.125rem; }
    .accordion__block.active h3 {
      color: #f9b43b; }
      .accordion__block.active h3::before {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg); }
    .accordion__block__about {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      max-width: 21.25rem;
      margin-left: 1rem;
      height: 0;
      overflow: hidden;
      -webkit-transition: height 0.7s;
      transition: height 0.7s; }
      @media screen and (max-width: 768px) {
        .accordion__block__about {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; } }
      @media screen and (max-width: 768px) {
        .accordion__block__about {
          margin-left: 0;
          padding-top: 9px; } }
      .accordion__block__about .accordion__block--size {
        position: relative;
        width: 6.25rem;
        height: 6.25rem;
        background: #000;
        border-radius: 50%;
        overflow: hidden;
        -webkit-transition: .7s;
        transition: .7s; }
        .accordion__block__about .accordion__block--size:hover {
          -webkit-transform: scale(1.1);
                  transform: scale(1.1); }
      .accordion__block__about .accordion__block--description {
        max-width: 13.4375rem;
        margin-left: 1.25rem; }
        @media screen and (max-width: 768px) {
          .accordion__block__about .accordion__block--description {
            padding-top: 1.0625rem;
            max-width: 21rem;
            margin-left: 0; } }
      .accordion__block__about .accordion__block__prof {
        font-family: "Conv_Ubuntu-B";
        font-size: 0.875rem;
        color: #fff;
        margin: 0; }
      .accordion__block__about .accordion__block__desc {
        font-family: "Conv_Ubuntu-Light";
        font-size: 0.875rem;
        color: #fff;
        margin: 0;
        margin-top: 0.9375rem;
        line-height: 1.4375rem; }
      .accordion__block__about .accordion__block__foto {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }

.menu {
  position: relative;
  height: 100vh;
  min-height: 40.625rem;
  background: url(../icons/menu_bg.jpg) center top/cover no-repeat;
  overflow: hidden; }
  .menu .container {
    max-width: 68.75rem;
    margin: 0 auto; }
    .menu .container .menu__title {
      font-family: "Conv_Gagalin-Regular";
      font-size: 4.5rem;
      color: #fff;
      margin: 0;
      padding-top: 4.375rem;
      display: inline-block; }
    .menu .container .menu__block {
      position: absolute;
      height: 100%;
      min-width: 15rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      top: 0;
      right: 0;
      left: 0; }

.menu__accordion {
  min-width: 15rem;
  position: absolute;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0; }
  .menu__accordion__item {
    width: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%; }
    .menu__accordion__item--meat {
      background: url(../icons/meat_bg.jpg) no-repeat; }
    .menu__accordion__item--veget {
      background: url(../icons/veg_bg.jpg) no-repeat; }
    .menu__accordion__item--diet {
      background: url(../icons/diet_bg.jpg) no-repeat; }
    .menu__accordion__item .menu__accordion__name {
      position: absolute;
      width: 18.75rem;
      font-family: "Conv_Gagalin-Regular";
      color: #fff;
      font-size: 2.5rem;
      display: block;
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
      margin: 0; }
  .menu__accordion .menu__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .menu__accordion .menu__text {
    width: 0;
    background-color: rgba(48, 51, 54, 0.93);
    height: 100%;
    -webkit-transition: width .7s;
    transition: width .7s; }
    .menu__accordion .menu__text.active {
      width: 33.75rem; }
      .menu__accordion .menu__text.active .menu__text--desc {
        opacity: 1; }
    .menu__accordion .menu__text .menu__text--desc {
      font-family: "Conv_Ubuntu-Light";
      font-size: 0.875rem;
      color: #fff;
      line-height: 1.5rem;
      padding: 3.75rem 2.1875rem;
      opacity: 0;
      -webkit-transition: opacity .7s;
      transition: opacity .7s; }

.reviews {
  width: 100%;
  height: 100vh;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .reviews .reviews-item {
    position: relative;
    width: 25%;
    height: 20.3125rem;
    overflow: hidden; }
    .reviews .reviews-item:hover .reviews-item__text {
      -webkit-transform: scale(1);
              transform: scale(1); }
    .reviews .reviews-item .reviews-item__img {
      width: 100%; }
    .reviews .reviews-item .reviews-item__text {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      padding: 3.125rem 1.25rem;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      background-color: rgba(76, 76, 76, 0.2);
      -webkit-transition: -webkit-transform .9s;
      transition: -webkit-transform .9s;
      transition: transform .9s;
      transition: transform .9s, -webkit-transform .9s;
      -webkit-transform: scale(0);
              transform: scale(0); }
      .reviews .reviews-item .reviews-item__text__title {
        font-family: "Conv_Gagalin-Regular";
        font-size: 0.875rem;
        color: #fff;
        text-transform: uppercase; }
      .reviews .reviews-item .reviews-item__text__desc {
        font-family: "Conv_Ubuntu-Light";
        font-size: 0.875rem;
        color: #fff;
        line-height: 1.5rem; }
      .reviews .reviews-item .reviews-item__text__button {
        width: 6.875rem;
        height: 2.1875rem;
        display: block;
        background-color: #2f3234;
        color: #fff;
        text-transform: uppercase;
        font-family: "Conv_Ubuntu-Medium";
        font-size: 0.8125rem;
        text-decoration: none;
        line-height: 0.5625rem;
        border-radius: 0.3125rem;
        padding: 0.8125rem;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        -webkit-transition: background-color .7s;
        transition: background-color .7s; }
        .reviews .reviews-item .reviews-item__text__button:hover {
          background-color: #1f2122; }

.menu-dots {
  position: fixed;
  top: 6.25rem;
  right: 10.5rem; }
  @media screen and (max-width: 992px) {
    .menu-dots {
      right: 3.75rem; } }
  .menu-dots__element {
    margin: 0;
    padding: 0;
    list-style: none; }
    .menu-dots__element .menu-dots__list {
      margin-bottom: 0.3125rem; }
      .menu-dots__element .menu-dots__list:last-child {
        margin-bottom: 0; }
      .menu-dots__element .menu-dots__list .menu-dots__link {
        position: relative;
        display: block;
        width: 1rem;
        height: 1rem;
        border: 0.0625rem solid transparent;
        border-radius: 50%;
        -webkit-transform: translate(-50%, -50%); }
        .menu-dots__element .menu-dots__list .menu-dots__link:hover {
          border-color: #fff;
          transition: 0.7s;
          -webkit-transition: 0.7s; }
        .menu-dots__element .menu-dots__list .menu-dots__link.active {
          border-color: #fff; }
        .menu-dots__element .menu-dots__list .menu-dots__link--decor {
          position: absolute;
          display: block;
          width: 0.375rem;
          height: 0.375rem;
          border-radius: 50%;
          background-color: #fff;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%); }
  @media screen and (max-width: 768px) {
    .menu-dots {
      display: none; } }

.delivery {
  width: 100%;
  height: 100vh;
  min-height: 40.625rem;
  background: url(../icons/form_bg.jpg) center top/cover no-repeat; }
  .delivery .container {
    max-width: 68.75rem;
    margin: 0 auto; }
    .delivery .container .delivery__title {
      font-family: "Conv_Gagalin-Regular";
      color: #f9b43b;
      font-size: 4.5rem;
      text-align: center;
      margin: 0;
      padding-top: 5.625rem;
      padding-bottom: 4.6875rem;
      text-transform: uppercase; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 56.25rem; }
  .form__part {
    margin-right: 0.9375rem; }
  .form__items {
    max-width: 29.375rem;
    margin-top: 0.9375rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .form__items__lable {
      display: block; }
      .form__items__lable span {
        font-family: "Conv_Ubuntu-Light";
        font-size: 0.875rem;
        color: #fff; }
      .form__items__lable .form__items__input {
        width: 13.6875rem;
        height: 2.1875rem;
        background-color: #fff;
        border-radius: 0.3125rem;
        outline: none;
        border: none;
        margin-right: 1.1875rem;
        margin-top: 0.4375rem; }
        .form__items__lable .form__items__input--tel {
          margin-right: 0; }
        .form__items__lable .form__items__input--street {
          width: 28.75rem;
          height: 2.1875rem;
          background-color: #fff;
          border-radius: 0.3125rem;
          outline: none;
          border: none;
          margin-top: 0.4375rem; }
        .form__items__lable .form__items__input--little {
          width: 6.25rem;
          height: 2.1875rem;
          background-color: #fff;
          border-radius: 0.3125rem;
          outline: none;
          border: none;
          margin-top: 0.4375rem;
          margin-right: 1.25rem; }
      .form__items__lable--radio {
        margin-right: 1.25rem;
        position: relative;
        width: 9.375rem; }
        .form__items__lable--radio::before {
          position: absolute;
          display: inline-block;
          content: "";
          background-color: #fff;
          width: 0.9375rem;
          height: 0.9375rem;
          left: 0;
          border-radius: 50%; }
        .form__items__lable--radio span {
          margin-left: 1.5625rem; }
      .form__items__lable--checkbox {
        margin-top: 0.5625rem;
        position: relative; }
        .form__items__lable--checkbox::before {
          position: absolute;
          content: "";
          background-color: #fff;
          width: 0.9375rem;
          height: 0.9375rem;
          left: 0; }
        .form__items__lable--checkbox span {
          margin-left: 1.5625rem; }
    .form__items__textarea {
      width: 28.75rem;
      height: 6.875rem;
      border-radius: 0.3125rem;
      outline: none;
      border: none;
      margin-top: 0.4375rem; }
    .form__items__radio {
      display: none; }
      .form__items__radio:checked + label::after {
        position: absolute;
        content: '';
        left: 0.25rem;
        top: 0.2625rem;
        width: 0.4375rem;
        height: 0.4375rem;
        background-color: #e45028;
        border-radius: 50%; }
    .form__items__checkbox {
      display: none; }
      .form__items__checkbox:checked + label::after {
        position: absolute;
        content: '\2714';
        left: 0.125rem;
        top: 0.0625rem;
        color: #e45028;
        font-size: 0.875rem;
        font-weight: 900;
        -webkit-transform: rotate(14deg);
                transform: rotate(14deg); }
  .form .clear {
    position: relative;
    border: none;
    background: none;
    color: #fff;
    font-family: "Conv_Ubuntu-Light";
    font-size: 0.875rem;
    height: 2.125rem;
    width: 6.125rem;
    margin-left: 1.1875rem;
    outline: none;
    cursor: pointer;
    z-index: 1; }
    .form .clear::before {
      content: "";
      position: absolute;
      width: 0;
      background-color: #e45028;
      left: 0;
      right: 0;
      height: 100%;
      top: 0;
      -webkit-transition: width .7s;
      transition: width .7s;
      margin: auto;
      border-radius: 0.3125rem;
      z-index: -1; }
    .form .clear:hover::before {
      width: 100%; }

.map {
  width: 100%;
  height: 100vh;
  min-height: 40.625rem;
  background: url(../icons/map_bg.jpg) center top/cover no-repeat;
  position: relative; }

.footer {
  position: absolute;
  bottom: 0.1875rem;
  background-color: #0e0e0e;
  height: 3.4375rem;
  left: 0;
  width: 100%;
  padding: 0.3125rem 0; }
  .footer .container {
    max-width: 68.75rem;
    margin: 0 auto; }
    .footer .container .footer__block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .footer .container .footer__block .footer__item__adress {
        font-size: 0.875rem;
        color: #fff;
        font-family: "Conv_Ubuntu-Light";
        margin: 0;
        margin-bottom: 0.75rem;
        margin-top: 0.3125rem; }
      .footer .container .footer__block .footer__item__tel {
        color: #e45028;
        font-size: 0.875rem;
        font-family: "Conv_Ubuntu-B";
        position: relative;
        left: 1.3125rem; }
        .footer .container .footer__block .footer__item__tel::before {
          content: "";
          background: url(../icons/phone.svg);
          position: absolute;
          left: -1.3125rem;
          bottom: 0;
          color: #e45028;
          width: 0.6875rem;
          height: 0.6875rem;
          margin-right: 0.5rem; }
      .footer .container .footer__block .footer__item__socials {
        width: 1.25rem;
        height: 1.25rem;
        margin-left: 0.6875rem;
        margin-top: 0.5625rem; }
